.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    border: 1px solid black;
}

.form>* {
    margin: 3px;
}

.learning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    max-width: 30px;
}

#canv {
    background: rgb(236, 229, 229);
}

.submit {
    width: auto;
    align-self: center;
}

select {
    width: auto;
}